/* Font */
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    body {
        background-image: url(/img/bg-photo.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    main {
        letter-spacing: 5px;
    }
    ul li {
        font-size: 1.2rem;
        margin: 1rem 0;
    }
    label {
        cursor: pointer;
    }
}